.movie-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 10px;
    text-align: center;
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
  }
  
  .movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  }
  